@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Nunito Sans", sans-serif;

}

.bgImage{
    background-image: url('https://images.pexels.com/photos/258154/pexels-photo-258154.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-position: center;
    background-repeat: none;
    background-size: cover;
}

.textClamp{
    font-size: clamp(20px, 4vw, 32px)
}